@model Search
@{ ViewData["Title"] = "Search Results"; }

<h1>@ViewData["Title"]</h1>

<div>@Model.Query</div>
<div>@Model.Url</div>
<div>
    <a href="@Model.ScrapeUrl">@Model.ScrapeUrl</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Title</th>
            <th scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Articles.Any())
        {
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <th scope="row">@article.Rank</th>
                    <td>@article.Title</td>
                    <td>
                        <a href="@article.Url">@article.Url</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>